@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.active {
  color: #e2e8f0; /* Light Slate */
  font-weight: bold;
}

.active .nav-indicator {
  width: 4rem !important; /* Ensure width expands when active */
  background-color: #e2e8f0 !important;
}

.active .nav-text {
  color: #e2e8f0 !important;
}
